<%= form_with(model: makanan) do |form| %>
  <% if makanan.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(makanan.errors.count, "error") %> prohibited this makanan from being saved:</h2>

      <ul>
        <% makanan.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :nama_makanan, style: "display: block" %>
    <%= form.text_field :nama_makanan %>
  </div>

  <div>
    <%= form.label :deskripsi, style: "display: block" %>
    <%= form.text_field :deskripsi %>
  </div>

  <div>
    <%= form.label :kategori_id, style: "display: block" %>
    <%= form.number_field :kategori_id %>
  </div>

  <div>
    <%= form.label :harga, style: "display: block" %>
    <%= form.number_field :harga %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
