<div id="<%= dom_id makanan %>">
  <p>
    <strong>Nama makanan:</strong>
    <%= makanan.nama_makanan %>
  </p>

  <p>
    <strong>Deskripsi:</strong>
    <%= makanan.deskripsi %>
  </p>

  <p>
    <strong>Kategori:</strong>
    <%= makanan.kategori_id %>
  </p>

  <p>
    <strong>Harga:</strong>
    <%= makanan.harga %>
  </p>

</div>
