<div id="<%= dom_id order %>">
  <p>
    <strong>No order:</strong>
    <%= order.no_order %>
  </p>

  <p>
    <strong>customer Id:</strong>
    <%= order.customer_id%>
  </p>

  <p>
    <strong>Harga order:</strong>
    <%= order.harga_order %>
  </p>

  <p>
    <strong>makanan Id:</strong>
    <%= order.makanan_id%>
  </p>

  <p>
    <strong>Jumlah:</strong>
    <%= order.jumlah %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= order.status %>
  </p>

</div>
