<div id="<%= dom_id order %>">
  <p>
    <strong>No order:</strong>
    <%= order.no_order %>
  </p>

  <p>
    <strong>Id customer:</strong>
    <%= order.id_customer %>
  </p>

  <p>
    <strong>Harga order:</strong>
    <%= order.harga_order %>
  </p>

  <p>
    <strong>Id makanan:</strong>
    <%= order.id_makanan %>
  </p>

  <p>
    <strong>Jumlah:</strong>
    <%= order.jumlah %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= order.status %>
  </p>

</div>
